<ng-container *ngIf="seletedSlide$ | async as seletedSlide">
  <div [ngSwitch]="seletedSlide" class="mt-3">
    <ng-container *ngSwitchCase="1">
      <div>
        <h2 class="text-center">Spis treści - czyli o czym będzie mowa</h2>
        <ol>
          <li>
            <a [routerLink]="[]" [queryParams]="{ slide: '2' }"
              >Czym jest moduł w Angularze</a
            >
          </li>

          <li>
            <a [routerLink]="[]" [queryParams]="{ slide: '3' }"
              >Dodawanie nowych modułów, komponentów.</a
            >
          </li>
          <li>
            <a [routerLink]="[]" [queryParams]="{ slide: '4' }"
              >Integracja modułów/komponentów w Spartacus SmartEdit.</a
            >
          </li>
          <li>
            <a [routerLink]="[]" [queryParams]="{ slide: '5' }">
              Module Injector Tree</a
            >
          </li>
          <li>
            <a [routerLink]="[]" [queryParams]="{ slide: '6' }"
              >Demo zależności modułów.</a
            >
          </li>
        </ol>

        <p></p>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <div>
        <h2>Trochę o modułach</h2>
        <ul>
          <li>
            Aplikacja Angularowa jest podzielona na moduły (każda aplikacja
            posiada przynajmniej jeden moduł AppModule) i ma własny system
            modułów NgModules. Moduł to nic innego jak klasa z dekoratorem
            @NgModule
            <div>
              <img
                src="assets/slide2/1.png"
                alt=""
                class="d-block mw-100 mb-3"
              />
            </div>
          </li>
          <li>
            Czym właściwie jest dekorator? Dekoratory są funkcjami, które
            modyfikują klasy JavaScript. Angular ma wiele dekoratorów, które
            dołączają metadane do klas, co pozwala na określenie znaczenia tych
            klas i sposobu ich działania (pojęcie dekoratorów istnieje również w
            czystym JavaScripcie). Dekortory pobieramy importujemy z paczki
            @angular/core
            <div>
              <img
                src="assets/slide2/2.png"
                alt=""
                class="d-block mw-100 mb-3"
              />
            </div>
          </li>
          <li>
            NgModule jest funkcją dekoratora, która przyjmuje jeden obiekt z
            metadanymi, których właściwości opisują moduł. Najważniejsze
            właściwości to: declarations , exports, imports, providers,
            bootstrap.
          </li>
          <li>
            W aplikacji istnieje zawsze moduł główny, który uruchamiany jest w
            pliku main.ts i przekazywany do funkcji bootstrapModule, która
            tworzy instację naszego modułu.
            <div>
              <img
                src="assets/slide2/3.png"
                alt=""
                class="d-block mw-100 mb-3"
              />
            </div>
          </li>
          <li>
            Sam Angular jest dostarczony jako kolekcja modułów JavaScript, jest
            to pewnego rodzaju biblioteka modułów.
          </li>
        </ul>
        <p>
          Więcej informacji o modułach
          <a
            href="https://angular.io/guide/architecture-modules"
            target="_blank"
            >tutaj</a
          >
        </p>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="3">
      <h2 class="text-center">Tworzenie nowego modułu</h2>
      <p>
        Aby utworzyć moduł, musisz albo użyć polecenia ng generate module
        nazwa_modułu korzystając z Angular CLI, albo ręcznie utworzyć klasę,
        która jest ozdobiona dekoratorem @NgModule
      </p>
      <div>
        <code>
          <pre>{{ codeGenerateModule }}</pre>
        </code>
      </div>
      <h2 class="text-center">Tworzenie nowego komponentu</h2>
      <p>
        można również użyć skrótu ng g m nazwa_modułu. Podobnie można utworzyć
        komponent, angular CLI samo zadeklaruje nam komponent w najbliżym
        module. Przykładowo komenga ng g c nazwa_komponentu utworzy komponent z
        plikami styli, html, ts i plikiem spec.ts zawierającym testy jednostkowe
        dla danego komponentu.
      </p>
      <div>
        <code>
          <pre>{{ codeGenerateComponent }}</pre>
        </code>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="5">
      <h2 class="text-center">Module Injector Tree</h2>
      <p class="text-center">
        Angular tworzy hierarchie modułów dla usług, które mają być dostarczane
        na poziomie poszczególnego modułu.
      </p>
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/slide4/1.png" alt="" class="d-block mb-3" />
      </div>
      <h2 class="text-center">Element Injector Tree</h2>
      <p class="text-center">
        Angular tworzy drzewo Element Injector dla usług, które mają być
        dostarczane na poziomie elementu, takich jak komponenty i dyrektywy.
      </p>
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/slide4/2.png" alt="" class="d-block mb-3" />
      </div>
      <p class="text-right">
        źródło:
        <a
          href="https://www.tektutorialshub.com/angular/how-dependency-injection-resolution-works-in-angular/
"
          target="_blank>"
          >tutaj</a
        >
      </p>
    </ng-container>

    <ng-container *ngSwitchCase="6">
      <h2 class="text-center">Demo zależności modułów</h2>
      <p class="text-center">
        Angular tworzy hierarchie modułów dla usług, które mają być dostarczane
        na poziomie poszczególnego modułu.
      </p>
      <div class="d-flex justify-content-center">
        <button (click)="sayHi()" type="button" class="btn btn-success">
          Demo
        </button>
      </div>
    </ng-container>
    <ng-container er *ngSwitchCase="4">
      <h2>Integracja modułów/komponentów w Spartacus SmartEdit.</h2>
      <p>
        Przejdźmy teraz do momentu umieszczenia utworzonego wcześniej komponentu
        na stronie za pomocą narzędzia spartacus. Aby skorzystać z komponentu
        utworzonego w SmartEdit, należy wykorzystać service 'ProvideConfig',
        który umieści nasz komponent i zastąpi ten utworzony w SmartEdit jako
        CMSFlexComponent.
      </p>
      <div>
        <code>
          <pre>{{ codeNewTestModuleService }}</pre>
        </code>
      </div>
      <p>
        Możemy też zaimportować moduł 'ModuleTestComponent', który posaida
        statyczną metodę, która również zrealizuje tę samą funkcję.
      </p>
      <div>
        <code>
          <pre>{{ codeNewTestModule }}</pre>
        </code>
      </div>
      <p>
        Należy również pamiętać o prawidłowym zaimportowaniu modułu np. w
        app.module.ts, aby funkcjonalność działała poprawnie :)
      </p>
      <p>
        Następnie przechodzimy do
        <a target="_blank" href="https://localhost:9002/smartedit">SmartEdit</a>
        i logujemy się jako administrator:
      </p>
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/slide6/1.png" alt="" class="d-block mb-3" />
      </div>
      <p>Wybieramy dany sklep i katalog i przechodzimy do preview sklepu</p>
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/slide6/2.png" alt="" class="d-block mb-3" />
      </div>
      <p>
        Przechodzimy na konkretną stronę, zmieniamy widok na tryb edycji i
        dodajemy nowy komponent:
      </p>
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/slide6/3.png" alt="" class="d-block mb-3" />
      </div>
      <p>
        Wśród dostępnych komponentów wybieramy np. CMSFlexComponent, który jest
        jednym z najprostszych komponentów i nie posiada wielu wbudowanych
        opcji.
      </p>
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/slide6/4.png" alt="" class="d-block mb-3" />
      </div>
      <p>
        Wybieramy nazwę komponentu oraz FlexType, po którym identyfikujemy
        komponent w kodzie. Należy zwrócić uwagę, aby FlexType był zgodny z tym
        co mamy podane np. w serwisie 'provideConfig' lub module 'ConfigModule'
      </p>
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/slide6/5.png" alt="" class="d-block mb-3" />
      </div>
    </ng-container>

    <ng-container er *ngSwitchCase="7">
      <h2>Dziękuję za uwagę! <span [innerHTML]="customEmoji"></span></h2>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <h2>Ups... We don't have content for this page</h2>
    </ng-container>
  </div>
</ng-container>
