<div tabindex="-1" role="dialog">
  <div class="modal-content">
    <div class="modal-header d-flex justify-content-center">
      <h2 class="modal-title">Angular Modules and Components</h2>
    </div>
    <div class="modal-body">
      <!-- <button (click)="sayHi()" type="button" class="btn btn-success">Say Hello 1</button> -->

       <!-- ****** path changing ******* -->
      <!-- <router-outlet></router-outlet> -->

      <!-- ****** queryParams changing ******* -->
      <app-slides></app-slides>
    </div>
    <div class="modal-footer">
      <button (click)="previousSlide()" type="button" class="btn btn-primary">
        Poprzedni
      </button>

      <button
        (click)="nextSlide()"
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
      >
        Następny
      </button>
    </div>
  </div>
</div>
