<div tabindex="-1" role="dialog">
  <div class="modal-content">
    <div class="modal-header d-flex justify-content-center">
      <h2 class="modal-title">Angular Modules and Components</h2>
    </div>
    <div class="modal-body">
      <app-slides></app-slides>
    </div>
    <div class="modal-footer" *ngIf="(slide$ | async) as slide">
      
      <a [routerLink]="[]" [queryParams]="{ slide: '1' }" type="button" class="btn btn-success" *ngIf="slide > 2 && slide <= 7">
        Początek
      </a>
      <button (click)="previousSlide()" type="button" class="btn btn-primary" *ngIf="slide > 1 && slide <= 7">
        Poprzedni
      </button>

      <button
        (click)="nextSlide()"
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        *ngIf="slide < 7"
      >
        Następny
      </button>
    </div>
  </div>
</div>
